form{
	color: #005ba2;
}
body{
	color: white;
	font-family: 'Oswald', sans-serif;
}
.top{
	width: 110%;
	height: 80px;
	background-color: #005ba2;
	margin-left: -8px;
	margin-top: -20px;
}
.post{
	background-color: #005292;
	width: 38%;
}
h1{
	color: white;


}
a{
	color: white;
	text-decoration: none;
}
h2{
	margin: 0px;
	text-align: center;
	text-shadow: 4px 3px 3px black;
}
.date{
	font-style: italic;
	text-align: right;
	font-size: 8pt;
}
.content{
	text-align: justify;
}
.titulo{
	color: #005ba2;
	text-shadow: 3px 3px 3px black;
}
.link{
	color: #005ba2;
	text-decoration: none;
}
.logo{
	
	float: left;
}